<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "domains"}}Domains{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<form class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-globe"/>
    {{name}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          {{id}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Created</span>
          {{moment-format created format="fromNow"}}
          ({{moment-format created format="lll"}})
        </div>
        <div class="input-group">
          <span class="input-group-addon">Status</span>
          {{status}}
        </div>
      </div>
    </div>
  </div>
</form>

<form class="panel panel-default">
  <div class="panel-heading">General Info</div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      <span>If your MX records point to a smap-relay or any other external non-Zimbra server,
      enter the name of that server in the <strong>Inbound SMTP host name</strong> field below.</span>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Time zone</span>
      {{input value=zimbraPrefTimeZoneId}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Public service host name</span>
      {{input value=zimbraPublicServiceHostname}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Public service protocol</span>
      {{input value=zimbraPublicServiceProtocol}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Public service port</span>
      {{input value=zimbraPublicServicePort}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Inbound SMTP host name</span>
      {{input value=zimbraDNSCheckHostname}}
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Description</span>
      {{textarea value=description}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Notes</span>
      {{textarea value=notes}}
    </div>
  </div>
</div>
