<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "resources"}}Resources{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<form class="panel panel-default">
  <div class="panel-heading">
    {{resource-icon zimbraCalResType}}
    {{displayName}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          {{name}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Type</span>
          {{zimbraCalResType}}
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          {{id}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Created</span>
          {{moment-format created format="fromNow"}}
          ({{moment-format created format="lll"}})
        </div>
        <div class="input-group">
          <span class="input-group-addon">Mail Server</span>
          {{zimbraMailHost}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Status</span>
          {{zimbraAccountStatus}}
        </div>
      </div>
    </div>
  </div>
</form>

<form class="panel panel-default">
  <div class="panel-heading">Resource Name</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      {{input value=displayName}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Email</span>
      {{input value=uid}}
      @{{view Ember.Select content=domains selection=selectedDomain optionValuePath="content.id" optionLabelPath="content.name"}}
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">Resource Setup</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Status</span>
      {{input type="checkbox" checked=active}} Active
    </div>
    <div class="input-group">
      <span class="input-group-addon">Class of Service</span>
      {{view Ember.Select content=coses selection=zimbraCOSId optionValuePath="content.id" optionLabelPath="content.name" disabled=true}}
      {{input type="checkbox" checked=cosAuto disabled=true}} Auto
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Description</span>
      {{textarea value=description}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Notes</span>
      {{textarea value=notes}}
    </div>
  </div>
</div>
