<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "resources"}}Resources{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<form class="panel panel-default">
  <div class="panel-heading">
    {{resource-icon model.zimbraCalResType}}
    {{model.displayName}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          {{model.name}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Type</span>
          {{model.zimbraCalResType}}
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          {{model.id}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Created</span>
          {{moment-format model.created format="fromNow"}}
          ({{moment-format model.created format="lll"}})
        </div>
        <div class="input-group">
          <span class="input-group-addon">Mail Server</span>
          {{model.zimbraMailHost}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Status</span>
          {{model.zimbraAccountStatus}}
        </div>
      </div>
    </div>
  </div>
</form>

<form class="panel panel-default">
  <div class="panel-heading">Resource Name</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      {{input value=model.displayName}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Email</span>
      {{input value=model.uid}}
      @{{view "select" content=model.domains selection=selectedDomain optionValuePath="content.id" optionLabelPath="content.name"}}
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">Resource Setup</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Status</span>
      {{input type="checkbox" checked=model.active}} Active
    </div>
    <div class="input-group">
      <span class="input-group-addon">Class of Service</span>
      {{view "select" content=model.coses selection=model.zimbraCOSId optionValuePath="content.id" optionLabelPath="content.name" disabled=true}}
      {{input type="checkbox" checked=model.cosAuto disabled=true}} Auto
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Description</span>
      {{textarea value=model.description}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Notes</span>
      {{textarea value=model.notes}}
    </div>
  </div>
</div>
