{{partial "servers/server/-breadcrumbs"}}
{{partial "servers/server/-pills"}}

<br/>

<form class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-tasks"/>
    {{name}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          {{id}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Created</span>
          {{moment-format created format="fromNow"}}
          ({{moment-format created format="lll"}})
        </div>
      </div>
    </div>
  </div>
</form>

<form class="panel panel-default">
  <div class="panel-heading">General Information</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Display name</span>
      {{name}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Service host name</span>
      {{input value=zimbraServiceHostname}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">LMTP advertised name</span>
      {{input value=zimbraLmtpAdvertisedName}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">LMTP bind address</span>
      {{input value=zimbraLmtpBindAddress}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Maximum number of scheduled tasks that can run simultaneously</span>
      {{input value=zimbraScheduledTaskNumThreads}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Sleep time between subsequent mailbox purges</span>
      {{input value=zimbraMailPurgeSleepInterval}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">This server is a reverse proxy lookup target</span>
      {{input type="checkbox" checked=zimbraReverseProxyLookupTarget}}
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Description</span>
      {{textarea value=description}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Notes</span>
      {{textarea value=notes}}
    </div>
  </div>
</div>
