{{partial "servers/server/-breadcrumbs"}}
{{partial "servers/server/-pills"}}

<br/>

<form class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-tasks"/>
    {{name}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          {{model.id}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">Created</span>
          {{moment-format model.created format="fromNow"}}
          ({{moment-format model.created format="lll"}})
        </div>
      </div>
    </div>
  </div>
</form>

<form class="panel panel-default">
  <div class="panel-heading">Authentication</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Enable authentication</span>
      {{input type="checkbox" checked=model.zimbraMtaSaslAuthEnable}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">TLS authentication only</span>
      {{input type="checkbox" checked=model.zimbraMtaTlsAuthOnly}}
    </div>
  </div>
</form>


<form class="panel panel-default">
  <div class="panel-heading">Network</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Web mail MTA Port</span>
      {{input value=model.zimbraSmtpPort}}
    </div>
    <div class="input-group"> 
      <span class="input-group-addon">Relay MTA for external delivery</span>
      {{input value=model.zimbraMtaRelayHostServer}} {{input value=model.zimbraMtaRelayHostPort}}
    </div>
    <div class="input-group"> 
      <span class="input-group-addon">Relay MTA for external delivery (fallback)</span>
      {{input value=model.zimbraMtaFallbackRelayHostServer}} {{input value=model.zimbraMtaFallbackRelayHostPort}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Web mail MTA timeout (secs)</span>
      {{input value=model.zimbraSmtpTimeout}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">MTA trusted networks</span>
      {{textarea value=model.zimbraMtaMyNetworks}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Enable DNS lookups</span>
      {{input type="checkbox" checked=model.zimbraMtaDnsLookupsEnabled}}
    </div>
  </div>
</form>


<form class="panel panel-default">
  <div class="panel-heading">Milter Server</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Enable milter server</span>
      {{input type="checkbox" checked=model.zimbraMilterServerEnabled}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Milter server bind address</span>
      {{input value=model.zimbraMilterBindAddress}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">Milter server bind port</span>
      7026
    </div>
  </div>
</form>
