<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Accounts</li>
</ol>

{{#if searchFor}}
<div class="alert alert-info" role="alert">
  <span class="badge">{{searchResult.length}}</span> accounts match your search.
</div>
{{/if}}

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Email Address</th>
    <th>Display Name</th>
    <th>Status</th>
    <th>Last Login</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each account in searchResult}}
    <tr>
      <td><span class="glyphicon glyphicon-user"/></td>
      <td>{{#link-to "accounts.account" account}}{{account.name}}{{/link-to}}</td>
      <td>{{account.displayName}}</td>
      <td>{{account.zimbraAccountStatus}}</td>
      <td>{{moment-format account.zimbraLastLogonTimestamp format="fromNow" defaultValue="never"}}</td>
      <td>{{account.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
