<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Backups</li>
</ol>

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Server</th>
    <th>Label</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
  </thead>
  
  <tbody>
    {{#each this}}
    <tr>
      <td><span class="glyphicon glyphicon-save"/></td>
      <td>{{server.name}}</td>
      <td>{{label}}</td>
      <td>{{moment-format start format="lll"}}</td>
      <td>{{moment-format end format="lll"}}</td>
      <td><span {{bind-attr class=":label hasErrors:label-danger hasWarnings:label-warning isSuccess:label-success"}}>{{status}}</span></td>
    </tr>
    {{/each}}
  </tbody>
</table>
