<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Admin Extensions</li>
</ol>

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Display Name</th>
    <th>Description</th>
    <th>Version</th>
    <th>Status</th>
  </thead>
  
  <tbody>
    {{#each extension in model}}
      <tr>
        <td><span class="glyphicon glyphicon-link"/></td>
        <td>{{extension.name}}</td>
        <td>{{extension.displayName}}</td>
        <td>{{extension.description}}</td>
        <td>{{extension.version}}</td>
        <td>{{#if extension.enabled}}Enabled{{else}}Disabled{{/if}}</td>
      </tr>
    {{else}}
      <tr><td colspan="5">None</td></tr>
    {{/each}}
  </tbody>
</table>
