<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Resources</li>
</ol>

<table>
  <thead>
    <th>Email Address</th>
    <th>Display Name</th>
    <th>Status</th>
    <th>Last Login</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each this}}
    <tr>
      <td>{{name}}</td>
      <td>{{displayName}}</td>
      <td>{{zimbraAccountStatus}}</td>
      <td>{{moment-format zimbraLastLogonTimestamp format="fromNow" defaultValue="Never logged in"}}</td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
