<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Zimlets</li>
</ol>

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Display Name</th>
    <th>Description</th>
    <th>Version</th>
    <th>Status</th>
  </thead>
  
  <tbody>
    {{#each zimlet in model}}
    <tr>
      <td><span class="glyphicon glyphicon-link"/></td>
      <td>{{zimlet.name}}</td>
      <td>{{zimlet.displayName}}</td>
      <td>{{zimlet.description}}</td>
      <td>{{zimlet.version}}</td>
      <td>{{#if zimlet.enabled}}Enabled{{else}}Disabled{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
